* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #353535;
}
body {
  color: var(--dark-color);
  background-color: #ddd;
  text-align: center;
  letter-spacing: 1.5px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 5vh;
  background-color: var(--dark-color);
}
header h1 {
  color: #eee;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
main {
  width: 600px;
  height: calc(100vh - 5vh);
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px -20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.display__moves {
  gap: 2rem;
  margin-bottom: 1rem;
}
.display__move-user,
.display__move-comp {
  text-align: center;
}
.display__move-user span,
.display__move-comp span {
  font-size: 4.25rem;
}
.result__message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.move-btn-container {
  gap: 3rem;
  margin-bottom: 5rem;
}
.move-btn,
.reset {
  color: inherit;
  font-size: 5rem;
  border: none;
  outline: none;
  background: transparent;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
}
.move-btn span {
  display: block;
  font-size: 1rem;
  margin-top: 5px;
}
.score__board {
  font-size: 1.5rem;
  gap: 2rem;
  margin-bottom: 2rem;
}
.reset {
  font-size: 1rem;
  padding: 0.875rem 2rem;
  border: 2px solid currentColor;
}
