*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #21ade4;
  --clr-success: #69ef69;
  --clr-denger: #f08080;
  --clr-white: #eeeeee;
  --clr-dark: #222831;
  --clr-gry: #393e46;
  --ff: Georgia, "Times New Roman", Times, serif;
  --transition: all 400ms ease;
}
body {
  color: var(--clr-white);
  background-color: var(--clr-gry);
  font-family: var(--ff);
  font-weight: normal;
  letter-spacing: 1.25px;
}
button,
input,
select,
textarea {
  color: inherit;
  font-size: 0.75rem;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}
input,
select,
textarea {
  width: 100%;
}
textarea::placeholder,
select,
input::placeholder {
  color: inherit;
  font-weight: inherit;
}
option {
  background: transparent;
}
button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.75rem;
  letter-spacing: 1px;
}
#ui__container {
  position: relative;
  width: 800px;
  min-height: 100vh;
  background-color: var(--clr-dark);
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--------- Navbar -----------*/
.header {
  height: 70px;
  background-color: var(--clr-denger);
}
.nav {
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}
.search__bar {
  min-width: 300px;
  border: 2px solid currentColor;
  border-radius: 2.5rem;
  padding: 0.625rem 1.5rem;
  justify-content: space-between;
  gap: 0.625rem;
}
.search__input {
  width: 100%;
}
.theme__toggle {
  font-size: 1rem;
  background-color: var(--clr-dark);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: var(--transition);
}
.theme__toggle:hover {
  opacity: 0.9;
}
/*--------- Filter buttons -----------*/
.filters {
  padding: 1.5rem 0;
}
.filter__btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.filter__btn {
  color: var(--clr-dark);
  text-transform: uppercase;
  background-color: var(--clr-white);
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
  gap: 5px;
}
.filter__btn.active {
  color: var(--clr-white);
  background-color: var(--clr-denger);
}
/*--------- todo-items -----------*/
.todo__items {
  padding-bottom: 2rem;
}
.todo__item {
  position: relative;
  background-color: rgba(86, 86, 86, 0.2);
  box-shadow: 0 0 10px -5px rgba(86, 86, 86, 0.2);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.todo__header {
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.todo__header h2 {
  font-size: 1.15rem;
  font-weight: 500;
}
.todo__icons {
  gap: 0.625rem;
}
.todo__icon {
  color: var(--clr-dark);
  background-color: var(--clr-white);
  font-size: 0.625rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: var(--transition);
}
.todo__icon:hover {
  color: var(--clr-white);
  background-color: var(--clr-denger);
}
.todo__item::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--clr-denger);
  left: 0;
  top: 0;
}
.todo__item.flag-1::before {
  background-color: var(--clr-denger);
}
.todo__item.flag-1::before {
  background-color: var(--clr-primary);
}
.todo__item.flag-1::before {
  background-color: var(--clr-success);
}
.date,
.time {
  display: inline-block;
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
}
/*--------- add todo form -----------*/
.add__todo-form {
  position: absolute;
  background-color: var(--clr-gry);
  width: 500px;
  height: auto;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  transition: var(--transition);
}
h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}
.close__form {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}
.form__input-box {
  border: 1px solid currentColor;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.form__input-box input {
  width: 100%;
}
.form__input-group {
  justify-content: space-between;
  gap: 10px;
}
.form__input-group .form__input-box {
  flex: 1;
}
.submit__btn {
  width: auto;
  display: inline-block;
  color: var(--clr-dark);
  text-transform: uppercase;
  background-color: var(--clr-white);
  padding: 10px 20px;
}
.form__open {
  font-size: 2.5rem;
  background-color: var(--clr-denger);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px rgba(86, 86, 86, 0.2);
  /* position: fixed; */
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  transition: var(--transition);
}
